*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section{
    box-sizing: border-box;
}

.nav{
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    /* padding: 10px 0; */
    /* background: rgba(51, 51, 51, 0.144); */
    overflow: hidden;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.nav .nav-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.nav .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 3.5rem;
    /* background: rgba(17, 17, 17, 0.349); */
    background: rgb(17, 17, 17);
    /* background: #fff; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    padding: 0;
}

.nav img{
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-color: #111;
    opacity: .9;
}

.nav-links{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-links .logo{
    position: relative;
    font-size: 1.3rem;
    color: rgb(243, 74, 23);
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 10px;
    font-weight: 400;
    width: 100%;
    padding:  0 10px;
    border: .5px solid rgb(243, 74, 23);
    border-radius: 25px;
}

.nav-links ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: #333; */
    margin: auto 40px;
}

li{
    position: relative;
    list-style: none;
    align-items: center;
}

.nav-links .active{
    border-bottom: 2px solid #fff;
    color: rgb(23, 162, 243);
    font-weight: 500;
    /* text-transform: uppercase; */
    font-size: 17px;
}

.nav-links li a{
    position: relative;
    margin:  0 10px;
    color: rgba(255, 255, 255, 0.808);
    /* color: rgb(23, 162, 243); */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-size: 15px;
    border-bottom: 2px solid transparent;
    padding-bottom: 15px;
    text-decoration: none;
    transition: .2s linear;
}

.nav-links li a:hover{
    border-bottom: 2px solid rgb(243, 74, 23);
}

.social-links{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.social-links .icons{
    position: relative;
    color: rgba(255, 255, 255, 0.418);
    margin: 0 10px;
    font-size: 20px;
    transition: .3s;
}

.social-links .menu{
    position: relative;
    display: none;
}

.social-links i:hover{
    transform: translateY(-5px);
}

.social-links img{
    position: relative;
    width: 25px;
    margin: 0 7px;
    color: #111;
    z-index: 1;
    border-radius: 50%;
}

.banner-title{
    position: relative;
    /* top: 50%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.596);
    height: 100%;
    margin: auto 0px;
}

.banner-title .title h1{
    position: relative;
    color: #fff;
    align-items: center;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.banner-title .title h6{
    color: rgb(243, 74, 23);
    position: relative;
    display: block;
    left: -35%;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: -20px;
}

.banner-title .title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title p{
    position: relative;
    /* width: 400px; */
    color: rgba(175, 170, 170, 0.74);
    float: right;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: 10px;
}

.banner-title .btn{
    position: relative;
    padding: 12px 22px;
    color: #fff;
    background: transparent;
    margin-top: 10px;
    font-weight: bolder;
    letter-spacing: .5px;
    border: 1px solid rgb(243, 74, 23);
    transition:  .2s linear;
}

.banner-title .btn:hover{
    background: rgb(243, 74, 23);
}

.our-story{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 50px;
}

.our-story .story-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.our-story .story-bx .row{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.our-story .story-bx .info-bx{
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    height: 100%;
}

.our-story .story-bx .info-bx h2{
    font-weight: 350;
    letter-spacing: .5px;
}

.our-story .story-bx .info-bx p{
    font-weight: 400;
    color: rgba(51, 51, 51, 0.664);
    letter-spacing: .5px;
}

.our-story .story-bx .info-bx .sup-title{
    font-weight: 300;
    color: rgb(23, 162, 243);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(23, 162, 243, 0.2);
}

.our-story .story-bx .info-bx .btn{
    position: relative;
    padding: 12px 22px;
    width: 150px;
    color: rgb(23, 162, 243);
    background: transparent;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid rgb(23, 162, 243);
    transition:  .2s linear;
}

.our-story .story-bx .info-bx  .btn:hover{
    background: rgb(23, 162, 243);
    color: #fff;
}

.our-story .story-bx .img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    /* background: #333; */
    width: 100%;
    /* overflow: hidden; */
}

.img-box img{
    position: relative;
    width: 100%; 
    display: flex;
    /* float: left; */
    /* left: 0; */
}

.menus{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.menus h2{
    position: relative;
    margin-bottom: 40px;
    border-bottom: 3px solid rgb(23, 162, 243);
}

.menu-bx{
    position: relative;
    width: 100%;
    display: flex;
}

.menu-img{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
}

.menu-img img{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
}

.menu-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250vh;
}

.menu-list h2{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(243, 74, 23);
}

.menu-list .lists-bx{
    position: relative;
    margin-top: 40px;
}

.menu-list .lists-bx .lists{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-list .lists-bx .lists h3{
    position: relative;
    font-size: 1.7rem;
    font-weight: 400;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border-bottom: 1.5px solid rgba(243, 74, 23, 0.651);
}

.menu-list .foods-bx{
    position: relative;
    margin-bottom: 40px;
    border: 1px solid rgba(243, 74, 23, 0.247);
    padding: 10px 20px;
    width: 100%;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
}

.menu-list .foods-bx .tags{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.menu-list .foods-bx .tags h4{
    position: relative;
    font-weight: 450;
    color: rgb(243, 74, 23);
    letter-spacing: 1px;
}

.menu-list .foods-bx .tags span{
    position: relative;
    font-size: 1.5rem;
    color: rgb(243, 74, 23);
    /* right: 40px; */
}

.menu-list .foods-bx p{
    position: relative;
    color: rgba(51, 51, 51, 0.74);
    /* font-weight: 500; */
    letter-spacing: .5px;
}

.Chef{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23, 162, 243);
    height: 68vh;
    /* margin-bottom: 50px; */
}

.Chef .row{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chef-img{
    position: relative;
    padding-left: 0;
    height: 100%;
}

.chef-img img{
    position: relative;
    width: 100%;
    left: 0;
}

.chef-info{
    position: relative;
    padding: 2rem 8rem 2rem 4rem;
}

.chef-info h2{
    position: relative;
    color: #fff;
    letter-spacing: 1px;
}


.chef-info P{
    position: relative;
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 1px;
}

.chef-info .btn{
    position: relative;
    padding: 12px 22px;
    width: 150px;
    color: #fff;
    background: transparent;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid #fff;
    transition:  .2s linear;
}

.chef-info  .btn:hover{
    background: #fff;
    color: rgb(23, 162, 243);
}

.testimonials{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    background: rgb(243, 74, 23);
    padding: 20px 0;
}

.testimonials h2{
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.testimonials .row{
    position: relative;
    display: flex;
}

.testimonials .user-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 40px;
    /* background: rgba(51, 51, 51, 0.144); */
    /* border: 1px solid rgba(255, 255, 255, 0.274); */
    border-radius: 10px;
    
}

.testimonials .user-bx h4{
    position: relative;
    color: #fff;
}

.testimonials .user-bx p{
    position: relative;
    font-size: .8rem;
    margin: 0 40px;
    /* color: rgba(255, 255, 255, 0.479); */
}

.testimonials .user-bx .img-bx{
    position: relative;
    width: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.testimonials .img-bx img{
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.blogs{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160vh;
    background: rgb(228, 228, 228);
}

.blogs h2{
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(23, 162, 243);
    letter-spacing: 1px;
}

.blogs .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.blogs .container .row{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    /* background: #333; */
}

.blogs .col-lg-5{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    margin: 20px 20px;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    /* z-index: 1; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}

.blogs .img-bx img{
    position: relative;
    width: 100%;
}

.blogs .info-bx{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
}

.blogs .info-bx h5{
    position: relative;
    letter-spacing: 1px;
}

.blogs .info-bx p{
    position: relative;
    color: rgba(51, 51, 51, 0.534);
}

.blogs .info-bx .date{
    font-size: 10px;
    float: right;
}

.blogs .info-bx a{
    position: relative;
    float: right;
    bottom: 40px;
}

.Contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    height: 80vh;
}

.Contact .map{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 0;
    padding-left: 0; */
    width: 720px;
    /* background: #333; */
}

.Contact .map iframe{
    width: 100%;
}

.form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 40px 40px; */
    /* background: rgba(51, 51, 51, 0.178); */
    width: 100%;
    /* border:  1px solid rgb(23, 162, 243); */
    padding: 8vh 0;
}

.form form h3{
    position: relative;
    float: left;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(243, 74, 23);
    left: -100px;
}

.form form input{
    position: relative;
    width: 70%;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 2px solid rgb(243, 74, 23);
}

.form form textarea{
    position: relative;
    height: 100px;
    width: 70%;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 2px solid rgb(243, 74, 23);
}

.form form button{
    position: relative;
    padding: 10px 40px;
    color: #fff;
    background: rgb(243, 74, 23);
    border: 2px solid rgb(243, 74, 23);
    right: -110px;
    cursor: pointer;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
    padding: 3rem 0;
}

footer .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .row{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer h4{
    position: relative;
    color: rgb(243, 74, 23);
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(243, 74, 23);
}

footer h5{
    position: relative;
    color: #fff;
    /* margin-top: 25px; */
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(243, 74, 23);
}

footer p{
    position: relative;
    color: rgb(172, 172, 172);
    margin: 7px 0;
}
/* 
footer .col-lg-3{
    height: 100%;
} */

footer i{
    position: relative;
    margin: 0px 5px;
    font-size: 20px;
    color: #fff;
}

footer .links{
    display: flex;
    margin-top: 10px;
}

footer .links i{
    position: relative;
    display: flex;
    transition: .3s;
    margin: 0 7px;
}

footer .links i:hover{
    background: #333;
    transform: translateY(-3px);
}

footer .bi-circle-fill{
    position: relative;
    font-size: 8px;
    color: rgba(243, 74, 23, 0.726);
}

footer .time{
    font-size: 12px;
}

footer .bi-stopwatch-fill{
    font-size: 14px;
}

footer .x{
    top: -3px;
}

footer .y{
    margin-top: 24px;
}

footer .z{
    top: -9px;
}

footer .copyright{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41, 41, 41);
    /* height: 40px; */
    /* padding: 5px 0; */
    bottom: -46px;
}

footer .bi-lightning-fill{
    position: relative;
    font-size: 15px;
}

footer .bi-arrow-up-short{
    position: fixed;
    color: #fff;
    font-size: 30px;
    bottom: 30px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: rgba(17, 17, 17, 0.671);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    z-index: 1;
}