@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins';
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    z-index: 10000;
    /* background: #333; */
    overflow: hidden;
    transition: .1s ease-in;
}

header.sticky{
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header.sticky .logo{
    color: #111;
}

header.sticky ul li a{
    color: #111;
}

header .logo{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto 0;
}

header ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

header ul li a{
    position: relative;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    transition: .2s;
}

header ul li a:hover{
    color: rgb(241, 28, 74);
    text-decoration: none;
}

header .menu{
    display: none;
    color: #fff;
    font-size: 25px;
}

header.sticky .menu{
    color: #111;
}

.banner{
    position: relative;
    top: 0;
    left: 0;
    background: url(assets/imgs/banner-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .title-bx{
    position: relative;
    
    height: 400px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #333; */
    padding: 0 40px;
    text-align: center;
}

.banner .title-bx h1{
    position: relative;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.banner .title-bx p{
    color: #fff;
    display: flex;
    padding: 0 30px;
    font-size: 1rem;
    font-weight: 200; 
}

.banner .title-bx a{
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 10px;
}

.banner .title-bx a:hover{
    color: rgb(241, 28, 74); 
    background: #fff;
    transition: .2s;
}

.dote{
    color: rgb(241, 28, 74);
}

.about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* padding-bottom: 10vh; */
}

.about .row {
    margin-right: 0;
    margin-left: 0;
}

.about .info-bx{
    position: relative;
   margin: auto 0;
}

.about .info-bx h2{
    padding-bottom: 5px;
    /* display: inline-block; */
    border-bottom: 1px solid rgb(241, 28, 74);
}

.about .info-bx p{
    font-weight: 300;
}

.about .info-bx a{
    color: rgb(241, 28, 74);
    padding: 10px 20px;
    border: 1px solid rgb(241, 28, 74);
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.about .img-bx{
    position: relative;
}

.about .img-bx img{
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
}

.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    height: 100%;
}

.menu h2{
    position: relative;
    margin-bottom: 25px;
    /* font-weight: bold; */
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(241, 28, 74);
}

.menu .img-bx{
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.menu .img-bx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.menu .img-bx .info-bx{
    position: absolute;
    z-index: 1;
    background: rgba(51, 51, 51, 0.363);
    bottom: 0;
    padding: 10px 20px;
}

.menu .img-bx .info-bx .title{
    display: flex;
    justify-content: space-between;
}

.menu .img-bx .info-bx h4{
    color: #fff;
}

.menu .img-bx .info-bx p{
    color: #fff;
}

.menu .img-bx .info-bx .checked{
    color: orange;
}

.tab-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    background: rgb(241, 241, 241);
    flex-direction: column;
}

.tab-menu h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(241, 28, 74);
}

.tab-menu .tablink{
    padding: 10px 20px;
    margin: 0;
    outline: none;
    border: none;
    margin-bottom: 5px;
    /* border: 3px solid #fff; */
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.tab-menu .tabcontent{
    background: #fff;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    border-right: 5px solid rgb(241, 28, 74);
    border-bottom: 5px solid rgb(241, 28, 74);
}

.tabcontent .row-bx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.tabcontent .row-bx .col-50{
    position: relative;
    /* width: 50%; */
    /* background: #333; */
    height: 100%;
}

.tabcontent .row-bx .img-bx{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: #333; */
}

.tabcontent .row-bx .items-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #333; */
    padding: 10px 40px;
    /* border-right: 1px solid  rgba(51, 51, 51, 0.171); */
    width: 60%;
}

.tabcontent .row-bx .items-bx li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-left: 5px solid rgb(241, 28, 74);
    border-right: 1px solid rgb(241, 28, 74);
    border-bottom: 1px solid rgba(212, 212, 212, 0.418);
    border-top: 1px solid rgba(212, 212, 212, 0.418);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    align-items: center;
    padding: 10px 20px;
    /* border-radius: 3px; */
    margin: 2px 0;
}

.tabcontent .row-bx .items-bx li p{
    /* position: relative;
    display: flex;
    align-items: center; */
    margin: auto 0;
}

.tabcontent .row-bx .img-bx{
    flex-direction: column;
    width: 40%;
}

.tabcontent .row-bx .img-bx h2{
    position: absolute;
    float: left;
    left: 0;
    top: 100px;
    display: flex;
    font-family: 'Dancing Script', cursive;
}

.tabcontent .row-bx .img-bx div{
    position: relative;
    width: 300px;
    background: rgb(241, 28, 74);
    padding: 2rem 2rem;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.tabcontent .row-bx .img-bx div img{
    width: 100%;
}

.testimonials{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: rgb(241, 28, 74);
    flex-direction: column;
    padding: 20px 0;
}

.testimonials h2{
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 3px solid #fff;
}

.testimonials .row-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .test-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #fff;
    /* width: ; */
    /* height: 350px; */
    padding: 20px 40px;
    margin: 0 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.testimonials .img-bx{
    position: relative;
    display: flex;
    width: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.testimonials .img-bx img{
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    top: 0;
    left: 0;
    border: 5px solid rgb(28, 156, 241);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.testimonials .test-bx h6{
    color: rgb(85, 28, 241);
}

.testimonials .test-bx p{
    color: rgba(17, 17, 17, 0.541);
}

.chef{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: rgb(241, 241, 241);
    padding-left: 0;
    padding-right: 0;
    padding: 40px 20px;
}

.chef .row-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chef .img-bx{
    position: relative;
    /* width: 50%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 50px; */
    /* background: #fff; */
    /* margin: 0 10px; */
    /* border-left: 5px solid rgb(85, 28, 241); */
    
}

.chef .img-bx img{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    
}

.chef .info-bx{
    position: relative;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    background: #fff;
    height: 100%;
    /* margin: 0 10px; */
    border-right: 5px solid rgb(85, 28, 241);
    border-bottom: 5px solid rgb(85, 28, 241);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.chef .info-bx h2{
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: rgb(85, 28, 241);
    border-bottom: 3px solid rgb(85, 28, 241);
}

.chef .info-bx a{
    color: rgb(85, 28, 241);
    padding: 10px 20px;
    border: 1px solid rgb(85, 28, 241);
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: rgba(241, 241, 241, 0.5);
}

.contact .map-bx{
    margin: auto 0px;
    overflow:hidden;
    /* padding-bottom:56.25%; */
    position:relative;
    /* height:0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: #333; */
    padding: 10px 40px;
}

.contact .map-bx map{
    /* left:0;
    top:0; */
    /* height:100%; */
    width:100%;
    margin: 0 auto;
    display: flex;
    position:relative;
}

.contact .cont-bx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    /* height: 450px; */
    padding: 40px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.contact .cont-bx form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    
}

.contact .cont-bx h2{
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: rgb(241, 28, 74);
    border-bottom: 3px solid rgb(241, 28, 74);
}

.contact .cont-bx form input{
    position: relative;
    padding: 10px 20px;
    width: 100%;
    margin: 7px 0;
    outline: none;
    border: none;
    border: 2px solid rgb(241, 28, 74);
    
}


.contact .cont-bx form textarea{
    position: relative;
    padding: 10px 20px;
    height: 100px;
    margin: 7px 0;
    outline: none;
    border: none;
    border: 2px solid rgb(241, 28, 74);
    
}

.contact .cont-bx form button{
    color: rgb(241, 28, 74);
    padding: 10px 30px;
    border: 2px solid rgb(241, 28, 74);
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    background: #fff;
}

footer,footer.container-fluid{
    position: relative;
    /* padding: 20px 0; */
    background: #333;
    padding-left: 0;
    padding-right: 0;
}

footer .container{
    padding: 20px 0;
}

footer h4{
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
    border-radius: 10px;
    display: inline-block;
}

footer h5{
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
    font-weight: 550;
    /* display: inline-block; */
}

footer p{
    color: #fff;
    font-size: .9rem;
}

footer .links i{
    position: relative;
    margin: 0px 5px;
    font-size: 20px;
    color: #fff;
}

footer .links{
    display: flex;
    margin-top: 10px;
}

footer .links i{
    position: relative;
    display: flex;
    transition: .3s;
    margin: 0 7px;
}

footer .links i:hover{
    background: #333;
    transform: translateY(-3px);
}

footer .bi-circle-fill{
    font-size: .5rem;
    color: rgb(241, 28, 74);
    margin: auto 0;
}

footer p{
    color: rgb(192, 192, 192);
}

footer .copyright{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(41,41,41);
   bottom: 0;
   text-align: center;
   padding: 10px 0;
}

footer .copyright p{
    margin: auto 0;
    text-align: center;
}

/* responsive */

@media (max-width: 1255px) {

    .container-fluid, .container, .row, .col-lg-4, .col-lg-4{
        /* height: 100%; */
        width: 100%;
    }

    .tabcontent .row-bx .items-bx {
        display: block;
        overflow: scroll;
    }

    .testimonials {
        padding: 40px 0;
        height: 100%;
    }

    .testimonials .test-bx {
        padding: 10px 10px;
    }

}

@media (max-width: 998px){

    .row{
        margin: 0;
        padding: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
    }

    .container-fluid, .container, .row, .col-lg-4, .col-lg-4{
        /* height: 100%; */
        width: 100%;
    }

    .about {
        /* padding-bottom: 10vh; */
        height: 100%;
        margin: 20px 0;
    }

    .about .container, .about .container .row, .about .container .row .col-lg-6{
        height: 100%;
    }

    .about .col-lg-6{
        margin: 20px 0;
    }

    header{
        padding: 10px 80px;
    }

    header ul{
        display: none;
    }

    header .menu{
        display: block;
    }

    .menu .container, .menu.row, .menu .row .col-lg-4, .menu .row .info-bx,{
        height: 100%;
    }

    .tab-menu{
        height: 100%;
        margin: 20px 0;
        padding: 20px 0;
    }

    .testimonials .container{
        width: 100%;
        margin: 10px 20px;
    }

    .testimonials .container, .row{
        width: 100%;
    }

    .tab-menu .tabcontent .img-bx{
        display: none;
    }

    .tabcontent .row-bx .items-bx {
        width: 100%;
    }

    .testimonials .test-bx {
        margin: 20px 20px;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
    }
    /* header,.banner, .tab-menu, .menu, .testimonials, footer, .contact{
        display: none;
    }  */

    /* footer .links {
       margin-bottom: 10px;
    } */

    footer .col-lg-3{
        margin: 10px 0;
    }

    .contact{
        height: 100%;
        padding: 30px 0;
    }

    .contact .col-lg-6{
        margin: 20px 0;
    }

}

@media (max-width: 768px){

    .banner .title-bx h1{
        font-size: 4rem;
    }

    .menu .img-bx {
        margin: 20px 30px;
    }

    .tab-menu .container{
        margin: 10px 20px;
        width: 100%;
    }

    .tab-menu .container, .container-sm {
        max-width: 90%;
    }
    
    .testimonials .container, .container-sm {
        max-width: 90%;
    }
}

@media (max-width: 617px){

    .banner .title-bx h1{
        font-size: 3rem;
    }

    .banner .title-bx {
        padding: 0 20px;
    }
}

@media (max-width: 520px){

    .menu .img-bx .info-bx h4 {
        font-size: 1rem;
    }

    .menu .img-bx .info-bx p {
        margin: 0;
        font-size: .7em;
    }

    .tab-menu .container {
        margin: 10px 10px;
        width: 100%;
        padding: 10px 0px;
    }

    .tabcontent .row-bx .items-bx li {
        padding: 10px 10px;
        width: 100%;
    }

    .tabcontent .row-bx .items-bx{
        margin: 10px 10px;
        padding: 10px 10px;
    }

}

@media (max-width: 494px){

    header{
        padding: 10px 30px;
    }
    
    header .logo{
        font-size: 1.2rem;
    }
    header{
        padding: 10px 30px;
    }

    .banner .title-bx h1{
        font-size: 2rem;
    }
    
    .banner .title-bx p{
        font-size: 1rem;
    }

    .banner .title-bx {
        padding: 0 10px;
    }

    .banner .title-bx p {
        padding: 0 10px;
    }

    .about .container{
        padding: 0;
    }

    .about h2, .menu h2, .tab-menu h2, .contact h2, footer h2{
        font-size: 1.5rem;
    }

    .testimonials h2{
        font-size: 1.3rem;
    }

    footer h4{
        font-size: 1.3rem;
    }
    
    footer h5{
        font-size: 1rem;
    }

    footer p{
        font-size: .8em;
    }

    footer .copyright p{
        font-size: .6em;
    }

    .contact .cont-bx form input {
        width: 90%;
    }

    .contact .cont-bx form textarea {
        width: 90%;
    }

}